/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* index.html专用样式表 */

/* 主体样式 */
body {
    border-left: dashed green 1px;/* 辅助虚线框 */
    border-right: dashed green 1px;
    width: 1887px;
    height: 100%;/*高度*/
    margin: 7px;
    padding: 7px;
}

/* 分割线的类型 */
.hr-antiquewhite-solid {
    border: antiquewhite solid 1px;
}

/* JavaScript基础 */
.js-basics {
    width: 196px;
    height: 100px;
    border: black dashed 1px;
    background-color: aqua;
    border-radius: 10px;/* 边框圆角 */
    color: green;/* 文字延续嗯 */
    overflow: hidden;/* 当文字超出时换行、不出现下拉 */
    text-align: center;/* 水平居中 */
    /*display: table-cell; 垂直居中 */
    /*vertical-align: middle; 垂直居中 */
    line-height: 70px;
    margin: 3px;
    float: left;
    font-family: fantasy;
    font-size: 18px;
}

.css-basics {
    width: 196px;
    height: 100px;
    border: turquoise dashed 1px;
    background-color: blanchedalmond;
    border-radius: 10px;/* 边框圆角 */
    color: greenyellow;/* 文字延续嗯 */
    overflow: hidden;/* 当文字超出时换行、不出现下拉 */
    text-align: center;/* 水平居中 */
    /*display: table-cell; 垂直居中 */
    /*vertical-align: middle; 垂直居中 */
    line-height: 70px;
    margin: 3px;
    float: left;
    font-family: fantasy;
    font-size: 18px;
}

.js-fieldset {
    margin-top: 30px;
    border-color: red;
    border-radius: 5px;
    color: red;
    padding-left: 22px;
}

.css-fieldset {
    border-color: red;
    border-radius: 5px;
    color: red;
    padding-left: 22px;
}